@use "variaveis" as *;

.footer {
  padding: 0 5.5vw 36px;

  img {
    filter: $corEscuro50SVG;
  }

  @media (max-width: 768px) {
    width: 100vw;
    height: 45vw;
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 768px) {
      display: flex;
      max-height: 100%;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
  }

  &__texto {
    @include texto(10px, 400);
    display: flex;
    align-items: center;
    line-height: 12px;
    text-align: center;
    color: $corEscuro50;

    @media (max-width: 768px) {
      margin: 16px 0;
    }
  }

  &__social {
    display: flex;
    margin-left: auto;

    @media (max-width: 768px) {
      margin-left: 0;

      a {
        height: 24px;
      }
    }

    // logo social
    &__logo {
      width: 24px;

      &:nth-child(2) {
        margin: 0 32px;
      }
    }
  }

  // logo distribuidora
  &__logo {
    @media (max-width: 768px) {
      max-width: 74px;
      width: 100%;
      display: flex;

      :nth-child(1) {
        padding-right: 26px;
      }
    }
  }
}
