@use "variaveis" as *;

.hero {
  padding: 7vw 5.5vw;
  min-height: 65vw;
  background-image: url(../images/hero_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    background-size: cover;
    background-position: 10% 50%;
    overflow: hidden;
  }

  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }

  &__content {
    max-width: 640px;

    &__branding {
      &__titulo {
        @include titulo();

        @media (max-width: 768px) {
          @include titulo(18px);
        }

        &--big {
          @include titulo(72px);

          @media (max-width: 768px) {
            @include titulo(38px);
          }
        }
      }
    }

    &__genero {
      display: inline-flex;
      align-items: flex-start;
      gap: 32px;
      padding-top: 36px;
      padding-bottom: 38px;

      @media (max-width: 768px) {
        padding: 4vh 0;
      }

      &__capslock {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $corEscuro40;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }

    &__descricao {
      display: flex;
      width: 604px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      @media (max-width: 768px) {
        // width: 100%;
        max-width: 89vw;
      }

      &__subtitulo {
        @include texto(18px, 700);

        @media (max-width: 768px) {
          @include texto(16px, 700);
        }

        &--big {
          @include texto(28px, 700);
        }

        &--normal {
          @include texto();

          @media (max-width: 768px) {
            @include texto(16px);
          }

          a {
            @include texto(16px, 700);
          }
        }
      }
    }
  }

  &__cards {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10vw;
    }

    &__movie {
      display: flex;
      max-width: 392px; //editar
      width: 100%; //editar
      max-height: 202px; //editar
      height: 100%; //editar
      flex-shrink: 0;
      border-radius: 8px;
      border: 1px solid $corEscuro80;
      background: $corFundo;
      overflow: hidden;
      transition: transform 0.2s;
      box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);

      &:hover {
        transform: scale(1.05);
        box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.5);
      }

      @media (max-width: 768px) {
        width: 90vw;
        height: 50vw;
      }

      &--begins {
        @include imagemCard("/dist/images/card/Begins.png");
      }

      &--darkKnight {
        @include imagemCard("/dist/images/card/TheDarkKnight.png");
      }

      &--darkKnightRise {
        @include imagemCard("/dist/images/card/TheDarkKnightRises.png");
      }

      &__texts {
        width: 220px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin: 14px 16px;

        @media (max-width: 768px) {
          width: 52vw;
        }

        &__genero {
          display: inline-flex;
          align-items: flex-start;
          gap: 12px;

          @media (max-width: 768px) {
            width: 52vw;
            // column-gap: 12px;
            li:last-child {
              overflow: hidden;
            }
          }

          &__capslock {
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $corEscuro50;

            @media (max-width: 768px) {
              // overflow: hidden;
            }
          }
        }

        &__titulo {
          @include texto(18px, 700);

          @media (max-width: 768px) {
            line-height: 12px;
          }
        }

        &__imdb {
          display: flex;
          align-items: flex-start;
          gap: 4px;

          p {
            @include titulo(14px, 400);
          }

          p:last-child {
            font-weight: 700;
            color: $corSecundaria;
          }
        }

        &__descricao {
          @include texto(12px, 400);
          line-height: 16px;
          color: $corEscuro50;
          width: 220px;

          @media (max-width: 768px) {
            max-width: 52vw;
            overflow: hidden;
          }
        }
      }

      &__buttons {
        width: 96%;
        max-width: 220;
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
      }
    }
  }
}
