// Cores
$corEscuro80: #383838;
$corEscuro70: #565656;
$corEscuro60: #6a6a6a;
$corEscuro50: #929292;
$corEscuro50SVG: brightness(0.5);
$corEscuro40: #b2b2b2;
$corEscuro30: #d6d6d6;
$corEscuro20: #e7e7e7;

$corFundo: #000000;
$corPrimaria: #ffffff;
$corSecundaria: #fdff00;

// Fontes
@font-face {
  font-family: Space Grotesk;
  src: url(../../assets/fonts/SpaceGrotesk-Light.woff2);
  font-weight: 300;
}

@font-face {
  font-family: Space Grotesk;
  src: url(../../assets/fonts/SpaceGrotesk-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: Space Grotesk;
  src: url(../../assets/fonts/SpaceGrotesk-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: Space Grotesk;
  src: url(../../assets/fonts/SpaceGrotesk-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Space Grotesk;
  src: url(../../assets/fonts/SpaceGrotesk-Bold.woff2);
  font-weight: 700;
}

$fontFamily: Space Grotesk;

@mixin texto($fontSize: 16px, $fontWeight: 400) {
  font-size: $fontSize;
  line-height: $fontSize + calc($fontSize * 0.6);
  font-weight: $fontWeight;
  color: $corPrimaria;
}

@mixin titulo($fontSize: 28px, $fontWeight: 700) {
  font-size: $fontSize;
  line-height: $fontSize + calc($fontSize * 0.36);
  font-weight: $fontWeight;
  color: $corPrimaria;
}

@mixin imagemCard($url) {
  width: 140px;
  height: 200px;
  flex-shrink: 0;
  background: url($url);
  background-size: contain;
  background-repeat: no-repeat;
}
