@use "variaveis" as *;
@use "hero" as *;
@use "footer" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily, serif;
}

body {
  background-color: $corFundo;

  ul {
    list-style: none;
  }
}

.texto {
  @include texto(18px, 400);

  &--small {
    @include texto(10px);
    line-height: 12px;
  }
}
