@use "variaveis" as *;
@use "hero" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $corFundo;
  font-family: $fontFamily;

  ul {
    list-style: none;
  }
}

// @mixin texto($fontSize: 16px, $fontWeight: 400) {
//   font-size: $fontSize;
//   line-height: $fontSize + calc($fontSize * 0.6);
//   font-weight: $fontWeight;
//   color: $corPrimaria;
// }

// @mixin titulo($fontSize: 28px, $fontWeight: 700) {
//   font-size: $fontSize;
//   line-height: $fontSize + calc($fontSize * 0.36);
//   font-weight: $fontWeight;
//   color: $corPrimaria;
// }

.texto {
  @include texto(18px, 400);

  &--small {
    @include texto(10px);
    line-height: 12px;
  }
}

// .titulo {
//   @include titulo();
// padrao 28px (vai servir como h4)
//

// &--big {
// @include titulo(72px);
// titulo Batman
// }
// }

// .subtitulo {
//   @include texto(18px, 700);

//   &--big {
//     @include texto(28px, 700);
//   }

//   &--normal {
//     @include texto();

//     a {
//       @include texto(16px, 700);
//     }
//   }
// }

// .genero {
//   display: inline-flex;
//   align-items: flex-start;
//   gap: 32px;
//   padding-top: 36px;
//   padding-bottom: 38px;
// }

// .capslock {
//   font-size: 14px;
//   font-weight: 700;
//   line-height: 18px;
//   letter-spacing: 2px;
//   text-transform: uppercase;
//   color: $corEscuro40;

//   &--small {
//     font-size: 12px;
//     font-weight: 700;
//     line-height: 16px;
//   }
// }
